.card-widget.card-posts-swiper#aniSwiper
  .item-content
    .theme2(style='height: 100%; width: 100%;')
      .card-content(style='height: 100%; width: 100%;')
        .pix_diapo(style='height: 100%; width: 100%;')
          img#card-posts-swiper-loading.entered.loading(src=loading, style='height: 100%; width: 100%;', data-ll-status='loading')
